* {
  box-sizing: border-box;
}

body {
  font-family: Microsoft YaHei, Arial;
  font-weight: normal;
  background-color: #fafafa;
}

.chat-window {
  touch-action: none;
  position: fixed;
  z-index: 1000000000;
  border-radius: 8px;
  box-shadow: #ddd 0 0 10px;
  width: 500px;
  height: 536px;
  left: 50%;
  margin-left: -250px;
  top: 48px;
}

.header {
  user-select: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  position: relative;
  background: #c1e3f6;
  border-radius: 5px 5px 0 0;
  cursor: move;
}

.logo {
  margin: 5px 10px auto 13px;
  padding: 0;
  float: left;
  width: 135px;
  height: 40px;
  border-radius: 50%;
}

.title {
  margin: 0;
  padding: 0;
  float: left;
  line-height: 50px;
  color: black;
  font-size: 14px;
}

.close {
  display: inline-block;
  width: 28px;
  height: 28px;
  position: relative;
  background: url('images/chaticon.png') -275px -24px no-repeat transparent;
  vertical-align: top;
  margin: 10px 5px 0 0;
  line-height: 28px;
  float: right;
  cursor: pointer;
}
.close:hover{
  background-color: #a7daf6;
}

.main {
  margin: 0;
  padding: 10px 10px 0;
  float: left;
  width: 480px;
  height: 475px;
  position: relative;
  background-color: white;
  border-radius: 0 0 0 8px;
  display: table-cell;
}

.view {
  margin: 0 0 5px 0;
  padding: 0;
  width: 480px;
  height: 315px;
  background: #fafafa;
}

.scrollarea {
  width: 100%;
  height: 315px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

ul {
  padding: 0;
}

.item {
  font-size: 12px;
  width: 480px;
  position: relative;
  list-style: none;
  overflow: hidden;
}

.item-av {
  position: relative;
  top: 5px;
  margin: 0 15px 0 5px;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url('images/chaticon.png') -374px -186px no-repeat;
}

.item-av-right {
  margin: 0 20px 0 15px;
  float: right;
  background: url('images/chaticon.png') -374px -52px no-repeat;
}

.item-text {
  padding: 5px;
  margin-top: 5px;
  float: left;
  max-width: 308px;
  position: relative;
  background: #ededed;
  border-radius: 5px;
  display: inline-block;
  color: #111;
  z-index: 90;
}

.item-text-right {
  float: right;
  background: #c1e3f6;
}

.item-tip {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  position: absolute;
}

.item-tip-left {
  top: 14px;
  right: -15px;
}

.item-tip-right {
  left: -15px;
  top: 14px;
}

.item-time {
  margin: 0;
  padding: 2px 0 0 80px;
  color: #a7a7a7;
  clear: both;
}
.item-time-right{
  text-align: right;
  padding: 0 80px 4px 0;
}

.bulges {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 5px solid rgba(152, 39, 39, 0);
  border-top: 5px solid transparent;
  display: inline-block;
  top: 7px;
}

.bulges-left {
  left: -7px;
  border-right: 7px solid #ededed;
}

.bulges-right {
  right: -7px;
  border-left: 7px solid #c1e3f6;
}

.textHolder {
  margin: 0;
  padding-top: 5px;
  width: 480px;
  height: 100px;
  position: relative;
  border-top: 1px solid #ddd;
}

.inputbox {
  margin: 0;
  padding: 10px;
  width: 480px;
  height: 100px;
  overflow: auto;
  font-size: 12px;
  resize: none;
  border: 0;
}

.btn-box {
  margin: 12px 0 0 0;
  padding: 0;
  width: 480px;
  position: relative;
  bottom: 0;
}

.btn-group {
  float: right;
}

.btn {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 30px;
  position: relative;
  vertical-align: top;
  font-size: 12px;
  line-height: 30px;
  border-radius: 3px;
}

.btn:hover{
  opacity: .8;
}

.btn-close {
  color: #000;
  background: #dddddd;
}

.btn-send {
  color: #fff;
  background: #20a0ff;
}

.tip-bottom {
  position: absolute;
  left: 16px;
  bottom: 16px;
  font-size: 12px;
  color: #a7a7a7;
}

.chat-window-min{
  position: fixed;
  cursor: pointer;
  bottom: 45px;
  right: 5px;
  display: none;
}